<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <%- include navbar %>
    <div class="aboutme">
        <div class="col-md-12" style="padding-top:90px;">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-12 mb-1">
                    <div class="mycard m-1">
                        <div >
                            <img src="/images/flower.jpg" class="d-block" style="height: 200px; width: 200px; margin: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-1">
                    <div class="mycard m-1">
                        <div class="col-md-12">
                            Name : Pakasit Ketudom
                        </div>
                        <div class="col-md-12">
                            Nickname : Kan
                        </div>
                        <div class="col-md-12">
                            Birthday : 14 March 1997
                        </div>
                        <div class="col-md-12">
                            Tel : 086-063-7103
                        </div>
                        <div class="col-md-12">
                            Email : ke.pakasit@gmail.com
                        </div>
                        <div class="col-md-12">
                            Strength : Likes to plan in a systematic way and act according to plans, Have responsibility
                        </div>
                        <div class="col-md-12">
                            Weakness : Overthink, Slow decision
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>