<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/timeline.css' />
    
</head>

<body>
    <%- include navbar %>
    <div class="education">
        <div class="col-md-12" style="padding-top:90px;">
            <div class="contenttime">
                <div class="timeline">
                  <ul>
                    <li>
                      <div class="timeline-content">
                        <h3 class="date">2012 - 2015</h3>
                        <h1>Ratwinit Bangkaeo School</h1>
                        <img src="/images/TNI_Logo.jpg" class="imgEducation mx-auto d-block" width="60%" height="50%">
                        <p>Science - Mathematics (GPA 3.12)</p>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-content">
                        <h3 class="date">2015 - 2019</h3>
                        <h1>Thai-Nichi Institute of Technology</h1>
                        <img src="/images/RWB_Logo.jpg" class="imgEducation mx-auto d-block" width="50%" height="50%">
                        <p>Information Technology (GPA 3.17)</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
        </div>
    </div>
</body>

</html>